[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
genpy = {version="*", index="ros"}
mcap = "*"
typing_extensions = "*"

[dev-packages]
black = "*"
build = "*"
pyright = "*"
pytest = "*"
PyYaml = "*"
std_msgs = {version="*", index="ros"}

[requires]
python_version = "3"
