[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://rospypi.github.io/simple"
verify_ssl = true
name = "ros"

[packages]
mcap = "*"
rosbag = {version="*", index="ros"}
std_msgs = {version="*", index="ros"}
typing_extensions = "*"

[dev-packages]
black = "*"
build = "*"
pyright = "*"
pytest = "*"

[requires]
python_version = "3"
